{% extends "blog/base.html" %}
{% load crispy_forms_tags %} <!-- Updated here to load crispy forms -->
{% block content %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Join Today</legend>
            {{ form|crispy }} <!-- Updated to load the form and let crispy take care of the formmating -->
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info mb-4" type="submit">Sign Up</button>
        </div>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">
            Already Have An Account? <a class="ml-2 mb-4" href="{% url 'login' %}">Sign In</a>
        </small>
    </div>
</div>

{% comment %} <form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
        <legend class="border-bottom mb-4">Join Today</legend>

        {{ form|crispy }} <!-- Updated to load the form and let crispy take care of the formating -->
    </fieldset>
    <div class="form-group">
        <button class="btn btn-outline-info" type="submit">Sign Up</button>
    </div>
</form> {% endcomment %}



{% endblock content %}